<div class="field">
  <%= f.label :room %><br>
  <%= f.text_field :room %>
</div>
<div class="field">
  <%= f.label :min_players %><br>
  <%= f.select :min_players, [2,3,4,5], selected: 2 %>
</div>
<div class="field">
  <%= f.label :max_players %><br>
  <%= f.select :max_players, [2,3,4,5], selected: 5 %>
</div>
<div class="field">
  Game: <%= f.select :kind, Game.kinds.keys, selected: :holdem %>
</div>
<div class="actions">
  <%= f.submit %>
</div>